<!DOCTYPE html>
<html>
<head>
    <title>Automatic Faculty Correction Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Automatic Faculty Correction Tool</h1>

    <h2>Student</h2>
    <a href="/student_register"><button>Register</button></a>
    <a href="/student_login"><button>Login</button></a>

    <hr>

    <h2>Faculty</h2>
    <a href="/faculty_register"><button>Register</button></a>
    <a href="/faculty_login"><button>Login</button></a>
</div>
</body>
</html>